<h1>Editing project_detail</h1>

<%= render 'form' %>


<%= link_to 'Show', project_detail_path(@project_detail, page: @current_page) %> |
<%= link_to 'Back', project_detail_path(page: @current_page) %>


